

<h2>UMSATZSTEUER-BEISPIELSGENERATOR</h2>
<input type="text" id="seed" [(ngModel)]="seed">
<p>Gib die "Seed" ein, oder nichts für zufällig generierte Aufgaben</p>
<button (click)="onClickNewTripleSet()">Neue Aufgabe erstellen</button>

<div id="content" #content>
    <p>seed:{{tripleSet.getSeed()}}</p>
    <h3>Berechnen Sie die fehlenden Netto-, Brutto- oder USt-Werte.</h3>

    <table style="width:100%">
        <tr>
            <td></td>
            <td></td>
            <td>NETTO</td>
            <td>UST</td>
            <td>BRUTTO</td>
        </tr>
        <tr *ngFor="let val of tripleSet.getTriples(); let i = index">
            <td width="5%" align = 'left'> Nr:{{i+1}}</td>
            <td width="65%" align = 'left'> {{val.text}}</td>
            <td width="10%" align = 'right'> {{val.numToString(val.netto)}}</td>
            <td width="10%" align = 'right'> {{val.numToString(val.ust)}}</td>
            <td width="10%" align = 'right'> {{val.numToString(val.brutto)}}</td>
        </tr>
    </table>
</div>
<button (click)="generateDocument()">Angabe herunterladen</button>
<button (click)="generateDocument(true)">Lösung herunterladen</button>


